.container1-1 .container1-2 .content1-1{
	height: 87.5%;
	width: 375px;
	background-color: #ffffff;
	display: flex;
	/* 多行对齐 */
	align-content:flex-start;
	flex-wrap:wrap;
	/* 超出部分	滚动 */
	overflow:scroll;			
} 

/* 搜索 */
.container1-1 .container1-2 .content1-1 .search1-1{
	width: 355px;
	height: 25px;
	border: 0;
	padding: 0;
	border-top:1px solid #ffffff ;
	margin-top: 4px;
	margin-left: 10px;
	margin-right:10px;
	background-color:#ffffff;
}
.container1-1 .container1-2 .content1-1 .search1-1 input{
	width: 354px;
	height: 23px;
	border: 0;
	padding: 0;
	background-image: url(../img/搜索.svg);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position-x: 136px;
	/* 光标 text-indent*/	
	/* 文本框边框隐藏 */
	border-style:none;
	/* 背景色 */
	background-color: #dddddd;
}
.container1-1 .container1-2 .content1-1 .search1-1 input:placeholder-shown{
	text-align: center;
	font-size: 18px;
	font-weight: 160;
	color: #27262b;
}
.container1-1 .container1-2 .content1-1 .search1-1 input:active{
	background-image: none;
}
.container1-1 .container1-2 .content1-1 .search1-1 input:placeholder-shown:active{
	text-align: left;
}

/* 信息 */
.container1-1 .container1-2 .content1-1 .content1-2{
	height: 60px;
	width: 355px;
	margin-left: 10px;
	margin-right: 10px;
	/* background-color: cadetblue; */
	/* 弹性布局 */
	display: flex;
	/* 水平 */
	justify-content: space-between;
	/* 垂直 */
	align-items: center;
}
.container1-1 .container1-2 .content1-1 .content1-2:hover{
	background-color: #dddddd;
}
.container1-1 .container1-2 .content1-1 .content1-2 .left2-1{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	/* 背景色 */
	background-color: #808080;
	/* 超出部分隐藏 */
	overflow: hidden;
	/* 居中 */
	justify-content: center;
	align-items: center;
}
/* 头像 */
.container1-1 .container1-2 .content1-1 .content1-2 .left2-1 img{
	height: 50px;
	width: 50px;
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1{
	height: 50px;
	width: 305px;
	/* background-color: #3d4fad; */
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .up2-1{
	height: 26px;
	width: 305px;
	/* 弹性布局 */
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;
	/* background-color: #03B7EE; */
}
/* 标题 */
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .up2-1 .left2-2{
	height: 26px;
	width: 260px;
	/* background-color: #747475; */
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .up2-1 .left2-2 span{
	font-size: 18px;
	font-weight: 500;
}
/* 时间 */
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .up2-1 .right2-2{
	height: 26px;
	width: 45px;
	/* background-color: #808080; */
	/* 弹性 */
	display: flex;
	justify-content: center;
	align-items: center;
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .up2-1 .right2-2 span{
	font-size: 15px;
	font-weight: 400;
	color: #2A2B2F;
	/* background-color: #0000FF; */
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .down2-1{
	height: 24px;
	width: 305px;
	/* background-color: #228B22; */
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .down2-1 span{
	font-size: 15px;
	font-weight: 400;
	color: #2A2B2F;
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .down2-1 .unread1-1{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top:200px;
	left: 340px;
	/* 弹性 */
	display: flex;
	justify-content: center;
	align-items: center;
}
.container1-1 .container1-2 .content1-1 .content1-2 .right2-1 .down2-1 .unread1-1 span{
	font-weight: 400;
	color: #ffffff;
}