*{
	margin: 0;
	padding: 0;
}
.container1-1{
	width: 375px;
	height: 667px;
}
.container1-2{
	width: 100%;
	height: 227.61px;
	background-color: #ffffff;
}
.container1-3{
	width: 100%;
	height: auto;
	background-color: #ffffff;
}